/* {
    border: 1px solid salmon;
}*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    
}

/*** fonts ***/
main {
    font-family: "Playfair Display", serif;
    background-color: whitesmoke;
}

.logo {
    font-family: "Anton", serif;
    font-style: italic;
}

/* header */

header {
    padding: 32px 64px;
   
    display: flex;
    justify-content: space-between;

    background-color: #F0EC57;
    
}


.logo {
    display: flex;
    align-items: center;

    font-size: 1.8rem;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    text-transform: uppercase;

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    gap: 25px;


}

nav ul li {
    list-style: none;
}

/* content */

.content section {
    margin-top: 75px;
}

/* about */

.about {
    display: flex;
    justify-content: center;
   
    
}

.about-title {
    font-size: 2.2rem;

}

.stack-icons i {
    font-size: 4.2rem;
}

.my-photo img {
    height: 370px;
    width: 300px;
    box-shadow: 2px 2px 8px rgb(170, 170, 170);
}

.about-info {
    
    max-width: 500px;
    padding: 35px 10px 35px 10px;
    text-align: center;

    align-self: center;

    box-shadow: 2px 2px 8px rgb(170, 170, 170);
}

/* projects */


.project-title {
    font-size: 2rem;

    margin-left: 100px;
}

.project-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 5%;
    padding: 15px;

    
}

.card {
    margin: 15px;
    flex: 0 0 25%;
    box-shadow: 0 3px 10px rgb(204, 203, 203);

    transition: transform 0.3s ease-in-out;
    
}

.card-screenshot img {
    width: 100%;
    height: 200px;
    
}

.card-name {
    font-size: 1.3rem;
}

.card-name-links {
    display: flex;
    justify-content: space-between;
}

.card-links i {
    font-size: 1.5rem;
}

.card-links a {
    text-decoration: none;
    color: black;
    
}

.card-info {
    padding: 2px 10px;
}

/* footer */

footer {

    display: flex;
    justify-content: space-around;

    margin-top: 70px;
    color: white;
    background-color: #0B0A07;
}

.footer-contact-info {
    padding: 15px;
}

.footer-contact-info p {
    font-size: 1.3rem;
}

.footer-contact-title {
    font-size: 2rem;
}

.address {
    line-height: 10%;
}

.social-media a {
    margin: 5px;

    text-decoration: none;
    color: black;
}

.social-media i {
    font-size: 2.3rem;
    color: whitesmoke;
}

.footer-img {
    display: flex;
    
}

.footer-img .logo {
    font-size: 7rem;
}

li:hover {
    color: rgb(92, 89, 1);
}

/* translation */

.card:hover {
    transform: scale(1.05);
}


/** media queries **/

/* tablet */
@media screen and (max-width: 1000px) {
 
 
    .card {
        flex: 0 0 40%;
    }
}


/* mobile */

@media all and (max-width: 636px) {


    .about {
        flex-direction: column;
       
    }

    .my-photo {
       display: flex;
       justify-content: center;
    }

    .my-photo img {
        height: 270px;
        width: 250px;
 
    }
  

    .about-info {
        box-shadow: none;
    }

    .project-title {
        text-align: center;
        margin: 0;
    }

    .project-cards{
        flex-direction: column;
        align-content: center;
        gap: 10px;
    }

    .card {
        flex: 0;
        margin: 0;
        max-width: 350px;
    }

    .footer-contact-info {
        text-align: center;
    }

    footer {
        flex-direction: column;
    }

    .footer-img {
        justify-content: center;
    }

    .footer-img .logo {
        font-size: 5rem;
    }
}
 
@media all and (max-width: 475px) {
    header {
       flex-direction: column;
       align-content: center;
       gap: 30px;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        
    }
    nav {
        display: flex;
        justify-content: center;
    }

    nav ul {
        gap: 10px;

    }

}
